<div class="jumbotron">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-4">
				<figure>
		          <%= image_tag(@producto.imagen.thumb_media.url, title: @producto.nombre, class: "img-responsive") %>
		        </figure>
			</div>
			<div class="col-xs-12 col-sm-6">
				<h1><%= @producto.nombre %></h1>
				<p>
				  <%= @producto.descripcion %>
		          </p>
		          <div class="alert alert-success text-center">
		            Precio: <span class="text-price"><%= @producto.precio %>€</span>
		          </div>
		          <div class="actions text-center">
		            
		            <p>
		              <%= link_to (raw "<i class='glyphicon glyphicon-shopping-cart'></i> Añadir al carrito"), @producto, class: "btn btn-danger" %>
		            </p>
		            <p>
		            	<%= link_to 'Volver al inicio', root_path, class: "btn btn-default"  %>
		            </p>
		          </div>
			</div>
		</div>
		
	</div>
</div>

<!-- Acciones:

<%= link_to 'Edit', edit_producto_path(@producto) %> |

 -->
